<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<appSettings>
		<add key="visualizedDirectory" value="D:\samplee" />
		<add key="directoryToSearchFiles" value="D:\samplee" />
		<add key="calcReadFilePath" value="D:\samplee\calc\calc.txt" />
		<add key="calcWriteFilePath" value="D:\samplee\calc\calcRes.txt" />
		<add key="targetAssembly" value="ServiceClasses.dll" />
		<add key="binarySerializationFile" value="D:\DotNetServiceFolder\binarySerializationFile.dat"/>
		<add key="xmlSerializationFile" value="D:\DotNetServiceFolder\xmlSerializationFile.XML"/>
		<add key="jsonSerializationFile" value="D:\DotNetServiceFolder\jsonSerializationFile.txt"/>
		<add key="firstDirectoryAddress" value="D:\FirstDirectory"/>
		<add key="secondDirectoryAddress" value="D:\SecondDirectory"/>
		<add key="excelDirectoryOutputFilePath" value="D:\directoryOutput.xlsx"/>
		<add key="excelInputFilePath" value="D:\DotNetServiceFolder\readExcel.xlsx"/>
		<add key="excelOutputFilePath" value="D:\DotNetServiceFolder\writeExcel.xlsx"/>
		<add key="firstColumnNumber" value="1"/>
		<add key="secondColumnNumber" value="3"/>
		<add key="wayOfDisplay" value="console"/>
		<add key="LogFilePath" value="D:\logFolder\mylog.txt"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>