<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<appSettings>
		<add key="LogFilePath" value="D:\logFolder\mylog.txt"/>
		
	    <add key="excelInputFilePath" value="D:\DotNetServiceFolder\readExcel.xlsx"/>
		<add key="excelOutputFilePath" value="D:\DotNetServiceFolder\writeExcel.xlsx"/>
        <add key="firstColumnNumber" value="1"/>
        <add key="secondColumnNumber" value="3"/>
		<add key="wayOfDisplay" value="console"/>
		
		<add key="calcWriteFilePath" value="D:\DotNetServiceFolder\calcResult.txt"/>
		<add key="calcReadFilePath" value ="D:\DotNetServiceFolder\calcParameters.txt"/>
		
		<add key="firstDirectoryAddress" value="D:\FirstDirectory"/>
		<add key="secondDirectoryAddress" value="D:\SecondDirectory"/>
		<add key="excelDirectoryOutputFilePath" value="D:\directoryOutput.xlsx"/>

		<add key="targetAssembly" value="TrainingFive.dll"/>

		<add key="binarySerializationFile" value="D:\DotNetServiceFolder\binarySerializationFile.dat"/>
		<add key="xmlSerializationFile" value="D:\DotNetServiceFolder\xmlSerializationFile.XML"/>
		<add key="jsonSerializationFile" value="D:\DotNetServiceFolder\jsonSerializationFile.txt"/>
		
	</appSettings>
</configuration>