<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<appSettings>
		<add key="LogFilePath" value="D:\logFolder\mylog.txt"/>
	    <add key="excelInputFilePath" value="D:\readExcel.xlxs"/>
		<add key="excelOutputFilePath" value="D:\writeExcel.xlxs"/>
        <add key="firstColumnNumber" value="1"/>
        <add key="secondColumnNumber" value="3"/>
		<add key="wayOfDisplay" value="console"/>
		<add key="calcFilePath" value="D:\calc.txt"/>
	</appSettings>
</configuration>